body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #303167;
  color: #999;
}
.header {
    background-color: #1d2440;
    color: #ffffff;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.44);
  
  }